name: Build and Push Docker Image

on:
  workflow_run:
    workflows: ["Test Backend"]
    branches:
      - main
    types:
      - completed

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-22.04
    if: github.event.workflow_run.conclusion == 'success'
    permissions:
      contents: write 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
  
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils

      - name: Get current version from pom.xml
        id: version
        run: |
          VERSION=$(xmllint --xpath "/*[local-name()='project']/*[local-name()='version']/text()" TP1/backend-api/simple-api-student-main/pom.xml)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Increment version
        id: increment_version
        run: |
          VERSION=${{ env.VERSION }}
          NEW_VERSION=$(echo $VERSION | awk -F. -v OFS=. '{$NF++; print}')
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Update pom.xml with new version
        run: |
          sed -i "s|<version>${{ env.VERSION }}</version>|<version>${{ env.NEW_VERSION }}</version>|g" TP1/backend-api/simple-api-student-main/pom.xml

      - name: Commit and push new version
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add TP1/backend-api/simple-api-student-main/pom.xml
          git commit -m "Bump version to ${{ env.NEW_VERSION }}"
          git tag ${{ env.NEW_VERSION }}
          git push origin main --tags

      - name: Build and push backend image
        uses: docker/build-push-action@v3
        with:
          context: TP1/backend-api/simple-api-student-main
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tp-backend:latest
          push: true

      - name: Build and push database image
        uses: docker/build-push-action@v3
        with:
          context: TP1/database
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tp-database:latest
          push: true

      - name: Build and push httpd image
        uses: docker/build-push-action@v3
        with:
          context: TP1/http-server
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tp-httpd:latest
          push: true
